<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Main</h1>
    <% for (i=0;i<contents.length ; i++) { %>
      <h1><%= contents[i].title %></h1>
      </article>
  <% } %>
    <a button href="/add">Add Content</a button>
  </body>
</html>
